name: Ruby

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1.268.0
        with:
          ruby-version: "2.6"
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop
